@model List<UserAccount>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @await Html.PartialAsync("AdminLeft")
    <div class="col-10">
        @if (Model == null || Model.Count == 0)
        {
            <h4 style="padding-left: 0.75rem!important">Пользователей нет</h4>
        }
        else
        {
            <h4 style="padding-left: 0.75rem!important">Пользователи</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Права</th>
                        <th>Логин</th>
                        <th>Телефон</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Role.Name</td>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>
                                <button class="btn btn-secondary"
                                        type="button"
                                        id="dropDownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    Действия
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropDownMenuButton">
                                    <a class="dropdown-item"
                                       asp-area="Admin"
                                       asp-controller="User"
                                       asp-action="ChangePassword"
                                       asp-route-userName="@item.Name">
                                        Изменить пароль
                                    </a>
                                    <a class="dropdown-item"
                                       asp-area="Admin"
                                       asp-controller="User"
                                       asp-action="Edit"
                                       asp-route-userName="@item.Name">
                                        Редактировать
                                    </a>
                                    <a class="dropdown-item"
                                       asp-area="Admin"
                                       asp-controller="User"
                                       asp-action="ChangeRole"
                                       asp-route-userName="@item.Name">
                                        Изменить права
                                    </a>
                                    <a class="dropdown-item text-red"
                                       asp-area="Admin"
                                       asp-controller="User"
                                       asp-action="Remove"
                                       asp-route-userName="@item.Name">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
