@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @await Html.PartialAsync("AdminLeft")
    <div class="col-10">
        <h4>Продукты</h4>
        @if (Model == null || Model.Count == 0)
        {
            <h3>Товаров нет</h3>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Артикул</th>
                        <th>Название</th>
                        <th>Цвет</th>
                        <th>Размер</th>
                        <th>Цена</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Item</td>
                        <td>@item.Name</td>
                        <td>@item.Color</td>
                        <td>@item.Size</td>
                        <td>
                            <strong>@item.Cost ₽</strong>
                        </td>
                        <td>
                            <a class= "btn-secondary btn" href="/admin/admin/editProduct?productId=@item.Id" role="button">Изменить</a>
                        </td>
                        <td>
                            <a class="btn-danger btn" href="/admin/admin/delete?productId=@item.Id" role="button">Удалить</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        <a class="btn btn-secondary" href="/admin/admin/addProduct" role="button">Добавить продукт</a>
    </div>
</div>
