@model List<ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="hero__content">
        <div class="hero__images">
            <div class="hero__img hero__img-1"></div>
            <div class="hero__img hero__img-2"></div>
            <div class="hero__img hero__img-3"></div>
        </div>
        <div class="hero__card">
            <h2 class="hero__title">Spring mood</h2>
            <h3 class="hero__text">-20% на новую коллекцию</h3>
            <a class="btn btn-secondary hero-btn" asp-controller="Product" asp-action="Catalog" role="button">В каталог</a>
        </div>
        <div id="heroSlider" class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <a class="hero__splide-link" href="#">
                                <svg class="hero__splide-svg" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="65" cy="65" r="65" fill="#F1F1F1" />
                                </svg>
                                <img src="/img/hero__splide-1.png" alt="" class="hero__splide-img">
                                <p class="hero__splide-text">Футболки</p>
                            </a>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <a class="hero__splide-link" href="#">
                                <svg class="hero__splide-svg" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="65" cy="65" r="65" fill="#F1F1F1" />
                                </svg>
                                <img src="/img/hero__splide-2.png" alt="" class="hero__splide-img">
                                <p class="hero__splide-text">Худи</p>
                            </a>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <a class="hero__splide-link" href="#">
                                <svg class="hero__splide-svg" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="65" cy="65" r="65" fill="#F1F1F1" />
                                </svg>
                                <img src="/img/hero__splide-3.png" alt="" class="hero__splide-img">
                                <p class="hero__splide-text">Свитшоты</p>
                            </a>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <a class="hero__splide-link" href="#">
                                <svg class="hero__splide-svg" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="65" cy="65" r="65" fill="#F1F1F1" />
                                </svg>
                                <img src="/img/hero__splide-4.png" alt="" class="hero__splide-img">
                                <p class="hero__splide-text">Лонгсливы</p>
                            </a>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <a class="hero__splide-link" href="#">
                                <svg class="hero__splide-svg" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="65" cy="65" r="65" fill="#F1F1F1" />
                                </svg>
                                <img src="/img/hero__splide-5.png" alt="" class="hero__splide-img">
                                <p class="hero__splide-text">Рубашки</p>
                            </a>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <a class="hero__splide-link" href="#">
                                <svg class="hero__splide-svg" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="65" cy="65" r="65" fill="#F1F1F1" />
                                </svg>
                                <img src="/img/hero__splide-6.png" alt="" class="hero__splide-img">
                                <p class="hero__splide-text">Свитера</p>
                            </a>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <a class="hero__splide-link" href="#">
                                <svg class="hero__splide-svg" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="65" cy="65" r="65" fill="#F1F1F1" />
                                </svg>
                                <img src="/img/hero__splide-7.png" alt="" class="hero__splide-img">
                                <p class="hero__splide-text">Джинсы</p>
                            </a>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="hero__splide-card">
                            <a class="hero__splide-link" href="#">
                                <svg class="hero__splide-svg" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="65" cy="65" r="65" fill="#F1F1F1" />
                                </svg>
                                <img src="/img/hero__splide-8.png" alt="" class="hero__splide-img">
                                <p class="hero__splide-text">Штаны</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="popular">
    <div class="popular__content">
        <div class="popular__top">
            <h3 class="section-title">Популярное</h3>
            <a class="link-reset popular__top-link" asp-area="" asp-controller="Product" asp-action="Catalog">В каталог</a>
        </div>
        <div id="popularSlider" class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 1.75L7.75 8L1.5 14.25" stroke="white" stroke-width="1.5" stroke-linecap="square" />
                    </svg>
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 1.75L7.75 8L1.5 14.25" stroke="white" stroke-width="1.5" stroke-linecap="square" />
                    </svg>
                </button>
            </div>
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var product in Model)
                    {
                        <li class="splide__slide">
                            <div class="popular__splide-card">
                                <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                                    <img class="popular__splide-img" src="@product.ImgList.FirstOrDefault().Path" />
                                </a>
                                <div class="popular__splide-price">
                                    <span class="popular__splide-cost">@product.Cost ₽</span>
                                    <a class="link-reset popular__splide-cart"
                                       asp-area=""
                                       asp-controller="Cart"
                                       asp-action="Add"
                                       asp-route-productId="@product.Id"
                                       role="button">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path class="svg-path" d="M20.25 6.75H3.75C3.33579 6.75 3 7.08579 3 7.5V19.5C3 19.9142 3.33579 20.25 3.75 20.25H20.25C20.6642 20.25 21 19.9142 21 19.5V7.5C21 7.08579 20.6642 6.75 20.25 6.75Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path class="svg-path" d="M8.25 9.75V6.75C8.25 5.75544 8.64509 4.80161 9.34835 4.09835C10.0516 3.39509 11.0054 3 12 3C12.9946 3 13.9484 3.39509 14.6517 4.09835C15.3549 4.80161 15.75 5.75544 15.75 6.75V9.75" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </a>
                                </div>
                                <p class="popular__splide-text">@product.Brand</p>
                                <p class="popular__splide-text">@product.Name</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="actual">
    <div class="actual__content">
        <h3 class="section-title mb-3">Актуальное</h3>
        <div class="row">
            <div class="col-3">
                <a href="#">
                    <img class="card-img-top actual__img" src="~/img/actual-1.png" />
                </a>
                <h4 class="actual__title">Джинсы</h4>
                <p class="actual__text actual__text-mb">Все еще в тренде</p>
                <a href="#">
                    <img class="card-img-top actual__img" src="~/img/actual-2.png" />
                </a>
                <h4 class="actual__title">Кроссовки</h4>
                <p class="actual__text">Всегда актуальны</p>
            </div>
            <div class="col-9">
                <a href="#">
                    <img class="card-img-top actual__img" src="~/img/actual-3.png" />
                </a>
                <h4 class="actual__title">Бежевый цвет</h4>
                <p class="actual__text">Стиль этого сезона</p>
            </div>
        </div>
    </div>
</div>
<div class="sale">
    <div class="sale__content">
        <div class="sale__content-title">
            <h2 class="sale__title">Скидка 10% за подписку</h2>
        </div>
        <form class="sale__form" id="request" action="https://jsonplaceholder.typicode.com/posts" method="post">
            <input class="sale__form-input" type="email" name="email" placeholder="Ваш E-mail" required>
            <button class="btn btn-dark sale__form-btn">Подписаться</button>
        </form>
        <div class="sale__social">
            <ul class="sale__social-list list-reset">
                <li class="sale__social-item">
                    <a href="#sale" class="sale__social-link" aria-label="VK">
                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="sale__social-fill" fill-rule="evenodd" clip-rule="evenodd" d="M0 19C0 8.50659 8.50659 0 19 0C29.4934 0 38 8.50659 38 19C38 29.4934 29.4934 38 19 38C8.50659 38 0 29.4934 0 19ZM19.9939 25.2355C19.9939 25.2355 20.3597 25.1956 20.5471 24.9981C20.7185 24.8171 20.7126 24.4756 20.7126 24.4756C20.7126 24.4756 20.6898 22.8808 21.4441 22.6454C22.1876 22.4138 23.1421 24.1876 24.1552 24.8696C24.9204 25.3853 25.5013 25.2725 25.5013 25.2725L28.2084 25.2355C28.2084 25.2355 29.6239 25.1499 28.9528 24.0572C28.8973 23.9677 28.5613 23.2486 26.9406 21.7716C25.2426 20.2255 25.4706 20.4756 27.5145 17.8008C28.7595 16.172 29.2571 15.1776 29.1015 14.7524C28.9538 14.3457 28.0379 14.4537 28.0379 14.4537L24.9908 14.4722C24.9908 14.4722 24.7648 14.442 24.5973 14.5403C24.4337 14.6366 24.3277 14.8614 24.3277 14.8614C24.3277 14.8614 23.8459 16.1214 23.2026 17.1936C21.8456 19.4549 21.3034 19.5746 21.0813 19.4345C20.5649 19.1066 20.6938 18.119 20.6938 17.4174C20.6938 15.2253 21.0328 14.3116 20.0346 14.0752C19.7035 13.9964 19.4597 13.9448 18.6121 13.936C17.5248 13.9253 16.6049 13.9399 16.0835 14.19C15.7366 14.3564 15.4689 14.7281 15.6325 14.7495C15.8337 14.7757 16.2897 14.8701 16.5315 15.1931C16.8438 15.6106 16.8329 16.5466 16.8329 16.5466C16.8329 16.5466 17.0123 19.127 16.4136 19.4471C16.0032 19.667 15.4402 19.2185 14.2299 17.1664C13.6103 16.1156 13.1425 14.9538 13.1425 14.9538C13.1425 14.9538 13.0523 14.7368 12.8907 14.62C12.6954 14.479 12.4228 14.4352 12.4228 14.4352L9.5274 14.4537C9.5274 14.4537 9.09225 14.4653 8.93266 14.6512C8.79091 14.8156 8.92175 15.1571 8.92175 15.1571C8.92175 15.1571 11.1887 20.3637 13.756 22.9879C16.1103 25.3931 18.7826 25.2355 18.7826 25.2355H19.9939Z" fill="white" />
                        </svg>
                    </a>
                </li>
                <li class="sale__social-item">
                    <a href="#sale" class="sale__social-link" aria-label="Instagram">
                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="sale__social-fill" fill-rule="evenodd" clip-rule="evenodd" d="M0 19C0 8.50659 8.50659 0 19 0C29.4934 0 38 8.50659 38 19C38 29.4934 29.4934 38 19 38C8.50659 38 0 29.4934 0 19ZM19.0009 8.86667C16.2489 8.86667 15.9035 8.8787 14.8226 8.92789C13.7438 8.97729 13.0074 9.14808 12.3631 9.39867C11.6966 9.6575 11.1313 10.0037 10.568 10.5672C10.0044 11.1304 9.65813 11.6958 9.39846 12.3621C9.14724 13.0066 8.97623 13.7432 8.92768 14.8215C8.87933 15.9024 8.86667 16.248 8.86667 19.0001C8.86667 21.7522 8.87891 22.0965 8.92789 23.1774C8.9775 24.2562 9.14829 24.9926 9.39867 25.6369C9.65771 26.3034 10.0039 26.8687 10.5674 27.432C11.1304 27.9956 11.6958 28.3427 12.3619 28.6015C13.0066 28.8521 13.7432 29.0229 14.8218 29.0723C15.9027 29.1215 16.2478 29.1335 18.9997 29.1335C21.752 29.1335 22.0963 29.1215 23.1772 29.0723C24.256 29.0229 24.9932 28.8521 25.6379 28.6015C26.3042 28.3427 26.8687 27.9956 27.4318 27.432C27.9954 26.8687 28.3417 26.3034 28.6013 25.6371C28.8504 24.9926 29.0214 24.256 29.0721 23.1776C29.1207 22.0967 29.1333 21.7522 29.1333 19.0001C29.1333 16.248 29.1207 15.9027 29.0721 14.8218C29.0214 13.743 28.8504 13.0066 28.6013 12.3623C28.3417 11.6958 27.9954 11.1304 27.4318 10.5672C26.8681 10.0035 26.3044 9.65729 25.6373 9.39867C24.9913 9.14808 24.2545 8.97729 23.1757 8.92789C22.0948 8.8787 21.7507 8.86667 18.9978 8.86667H19.0009Z" fill="white" />
                            <path class="sale__social-fill" fill-rule="evenodd" clip-rule="evenodd" d="M18.0919 10.6928C18.3617 10.6924 18.6627 10.6928 19.0009 10.6928C21.7066 10.6928 22.0273 10.7025 23.0957 10.7511C24.0837 10.7962 24.6199 10.9613 24.9771 11.1C25.45 11.2837 25.7872 11.5033 26.1416 11.8579C26.4963 12.2126 26.7159 12.5504 26.9 13.0233C27.0387 13.3801 27.204 13.9163 27.2489 14.9043C27.2975 15.9725 27.3081 16.2934 27.3081 18.9978C27.3081 21.7021 27.2975 22.023 27.2489 23.0913C27.2038 24.0793 27.0387 24.6155 26.9 24.9723C26.7163 25.4452 26.4963 25.7819 26.1416 26.1364C25.787 26.491 25.4503 26.7106 24.9771 26.8943C24.6204 27.0336 24.0837 27.1983 23.0957 27.2434C22.0275 27.292 21.7066 27.3026 19.0009 27.3026C16.2951 27.3026 15.9744 27.292 14.9062 27.2434C13.9182 27.1978 13.382 27.0328 13.0245 26.8941C12.5517 26.7104 12.2139 26.4908 11.8592 26.1362C11.5045 25.7815 11.285 25.4446 11.1009 24.9714C10.9622 24.6147 10.7969 24.0784 10.7519 23.0904C10.7034 22.0222 10.6936 21.7013 10.6936 18.9953C10.6936 16.2892 10.7034 15.97 10.7519 14.9018C10.7971 13.9138 10.9622 13.3775 11.1009 13.0203C11.2845 12.5474 11.5045 12.2096 11.8592 11.855C12.2139 11.5003 12.5517 11.2807 13.0245 11.0967C13.3817 10.9573 13.9182 10.7927 14.9062 10.7473C15.841 10.705 16.2033 10.6924 18.0919 10.6903V10.6928ZM24.4101 12.3754C23.7388 12.3754 23.1941 12.9194 23.1941 13.591C23.1941 14.2623 23.7388 14.807 24.4101 14.807C25.0814 14.807 25.6261 14.2623 25.6261 13.591C25.6261 12.9196 25.0814 12.3754 24.4101 12.3754ZM19.0009 13.7962C16.1271 13.7962 13.797 16.1262 13.797 19.0001C13.797 21.874 16.1271 24.203 19.0009 24.203C21.8748 24.203 24.204 21.874 24.204 19.0001C24.204 16.1262 21.8748 13.7962 19.0009 13.7962Z" fill="white" />
                            <path class="sale__social-fill" fill-rule="evenodd" clip-rule="evenodd" d="M19.001 15.6223C20.8663 15.6223 22.3788 17.1345 22.3788 19.0001C22.3788 20.8655 20.8663 22.3779 19.001 22.3779C17.1353 22.3779 15.6231 20.8655 15.6231 19.0001C15.6231 17.1345 17.1353 15.6223 19.001 15.6223Z" fill="white" />
                        </svg>
                    </a>
                </li>
                <li class="sale__social-item">
                    <a href="#sale" class="sale__social-link" aria-label="YouTube">
                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="sale__social-fill" fill-rule="evenodd" clip-rule="evenodd" d="M0 19C0 8.50659 8.50659 0 19 0C29.4934 0 38 8.50659 38 19C38 29.4934 29.4934 38 19 38C8.50659 38 0 29.4934 0 19ZM28.7098 14.308C28.4767 13.4126 27.79 12.7075 26.9179 12.4682C25.3376 12.0333 19 12.0333 19 12.0333C19 12.0333 12.6624 12.0333 11.082 12.4682C10.2099 12.7075 9.52315 13.4126 9.29008 14.308C8.86667 15.9307 8.86667 19.3167 8.86667 19.3167C8.86667 19.3167 8.86667 22.7025 9.29008 24.3254C9.52315 25.2207 10.2099 25.9258 11.082 26.1652C12.6624 26.6 19 26.6 19 26.6C19 26.6 25.3376 26.6 26.9179 26.1652C27.79 25.9258 28.4767 25.2207 28.7098 24.3254C29.1333 22.7025 29.1333 19.3167 29.1333 19.3167C29.1333 19.3167 29.1333 15.9307 28.7098 14.308Z" fill="white" />
                            <path class="sale__social-fill" fill-rule="evenodd" clip-rule="evenodd" d="M17.1 22.7992V16.4658L22.1666 19.6326L17.1 22.7992Z" fill="white" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="news">
    <div class="news__content">
        <h3 class="section-title mb-3">Модные новости</h3>
        <div class="row">
            <div class="col-4">
                <article>
                    <a href="#">
                        <img class="card-img-top news__img" src="~/img/news-1.png" />
                    </a>
                    <h4 class="news__title">Совершайте покупки,</h4>
                    <p class="news__text">которые сделают мир лучше</p>
                </article>
            </div>
            <div class="col-4">
                <article>
                    <a href="#">
                        <img class="card-img-top news__img" src="~/img/news-2.png" />
                    </a>
                    <h4 class="news__title">Носите вещи,</h4>
                    <p class="news__text">которые нравятся вам</p>
                </article>
            </div>
            <div class="col-4">
                <article>
                    <a href="#">
                        <img class="card-img-top news__img" src="~/img/news-3.png" />
                    </a>
                    <h4 class="news__title">Следуйте стилю,</h4>
                    <p class="news__text">который создан для вас</p>
                </article>
            </div>
        </div>
    </div>
</div>

