@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-4">
        <h4 class="text-center">Редактирование продукта</h4>
        <form id="request" method="post">
            <div class="text-danger" asp-validation-summary="All"></div>
            <input type="hidden" name="Id" value="@Model.Id"/>
            <div class="flex justify-content-between">
                <label asp-for="Name">Введите название</label>
                <span class="text-danger" asp-validation-for="Name"></span>
                <input class="input-reset" asp-for="Name" value="@Model.Name" placeholder="название*" />
            </div>
            <div class="flex justify-content-between">
                <label asp-for="Item">Введите артикул</label>
                <span class="text-danger" asp-validation-for="Item"></span>
                <input class="input-reset" asp-for="Item" value="@Model.Item" placeholder="артикул*" />
            </div>
            <div class="flex justify-content-between">
                <label asp-for="Cost">Введите цену</label>
                <span class="text-danger" asp-validation-for="Cost"></span>
                <input class="input-reset" asp-for="Cost" value="@Model.Cost" type="number" placeholder="цена*" />
            </div>
            <div class="flex justify-content-between">
                <label asp-for="Size">Введите размер</label>
                <span class="text-danger" asp-validation-for="Size"></span>
                <input class="input-reset" asp-for="Size" value="@Model.Size" type="number" placeholder="размер*" />
            </div>
            <div class="flex justify-content-between">
                <label asp-for="Color">Введите цвет</label>
                <span class="text-danger" asp-validation-for="Color"></span>
                <input class="input-reset" asp-for="Color" value="@Model.Color" placeholder="цвет*" />
            </div>
            <div class="flex justify-content-between">
                <label asp-for="Care">Введите уход за</label>
                <span class="text-danger" asp-validation-for="Care"></span>
                <input class="input-reset" asp-for="Care" value="@Model.Care" placeholder="уход*" />
            </div>
            <div class="flex justify-content-between">
                <label asp-for="Fabric">Введите состав</label>
                <span class="text-danger" asp-validation-for="Fabric"></span>
                <input class="input-reset" asp-for="Fabric" value="@Model.Fabric" placeholder="состав*" />
            </div>
            <div class="flex justify-content-between">
                <label asp-for="Brand">Введите фирму</label>
                <span class="text-danger" asp-validation-for="Brand"></span>
                <input class="input-reset" asp-for="Brand" value="@Model.Brand" placeholder="фирма*" />
            </div>
            <div class="flex justify-content-between">
                <label asp-for="Country">Введите страну</label>
                <span class="text-danger" asp-validation-for="Country"></span>
                <input class="input-reset" asp-for="Country" value="@Model.Country" placeholder="страна-производитель*" />
            </div>
            <div class="flex justify-content-between">
                <label asp-for="Description">Введите описание</label>
                <span class="text-danger" asp-validation-for="Description"></span>
                <input class="input-reset" asp-for="Description" value="@Model.Description" placeholder="описание*" />
            </div>
            <button style="min-width:100%"
                    class="btn btn-secondary mb-4"
                    type="submit"
                    asp-area="Admin"
                    asp-controller="Product"
                    asp-action="Edit">Сохранить
            </button>
        </form>
    </div>
</div>
